/* custom.css */
.login-button {
    background-color: #B68847; /* Change this to the desired color */
    color: #ffffff; /* Text color */
    border-radius: 8px;
    padding: 10px 14px;
    border: 1px solid #B68847;
    font-size: 20px;
   
    /* Add any other styles as needed */
}
.login-button:hover{
    background-color: transparent;
    color: #B68847;
}


.main-header{
  color: red;
}
.navbar{
  color: red;
}

.main-footer{
  color: black;
  background-color: #EED5C9 ;
  position: relative;
    bottom: 0;
    width: 100%;
    /* position:; */
    padding: 20px 0;
    padding-bottom: 10px 0;
}

.main-content{
  width: 100%;
  
  min-height: 60vh;
}

.navbar{
    width: 100%;
    background-color: #B68847;
    color: white;
    margin: 0;
    padding: 0;
    position: fixed;
}












/* 
Customize the background color of the navbar
.navbar.bg-brown {
    background-color: #7A5B2F; 
  }
  
  Customize the color of the navbar text
  .navbar-dark .navbar-brand {
    color: #ffffff; 
  }
  
 
  .form-control {
    background-color: #f0f0f0; 
    color: #333333; 
    border-color: #cccccc; 
  }
  
  
  .btn-outline-success {
    color: #ffffff; 
    border-color: #28a745; 
    background-color: #28a745; 
  }
  

  .btn-outline-success:hover {
    color: #ffffff; 
    background-color: #218838; 
    border-color: #1e7e34; 
  }
   */